<div md-whiteframe="12" layout-padding class="container" flex="auto">

  <md-content>
    <h1 class="text-center">Здравствуйте!</h1>

    <div>
      <p>Моё тестовое приложение было вдохновлено следующими статьями.</p>
      <ul>
        <li><a target="_blank" href="https://github.com/johnpapa/angular-styleguide/blob/master/a1/README.md">"Angular 1 Style Guide" by John Papa</a></li>
        <li><a target="_blank" href="https://github.com/orizens/angular-es6-styleguide">Angular 1.5 - ES6/ES2015 Style Guide</a></li>
        <li><a target="_blank" href="https://thinkster.io/angularjs-es6-tutorial#displaying-lists-of-articles">Build an Angular 1.5 application with ES6 and Components</a></li>
      </ul>

      <br>

      <p>Данное приложение отражает мои идеи по созданию SPA на Angular-1 с использованием ES6 и компонентоного подхода.
         При его написании я прежде всего старался создать удобную модульную структуру, такую, чтобы впоследствии
         было просто заменить существующие модули либо добавить новые, т.е. легко дорабатывать и расширять приложение.</p>

      <p>Компоненты являются "сердцем" приложения и я постарался их разделить на 2 типа:
      <ul class="components-descr">
        <li>
          <b>1. "layout-components"</b>, которые применяются в качестве HTML-шаблонов при написании роутов.
                                    Они должны быть использованы в качестве контейнеров для остальных компонентов
        </li>
        <li>
          <b>2. "ui-components"</b>, которые представляют из себя блоки интерфейса, и при этом
          <ul>
            <li>реализуют одну чётко выраженную задачу,</li>
            <li>инкапсулируют сложное поведение</li>
            <li>предоставляют программисту-пользователю "robust and minimalistic API".</li>
          </ul>
        </li>
      </ul>

      <br>

      <p>Благодарю за внимание к моему коду. :)</p>

    </div>

  </md-content>
</div>
