@import "../../common";

layout-home {

  md-content {
    width  : 700px;
    margin : 0 auto;

    p::first-letter {
      //color       : $colorWarn;
      font-weight : bold;
      font-size   : 1.2em;
    }

    .components-descr{
      padding-left: 0;

      > li {
        @include setVerticalMargin(15px);
      }
    }
  }

}
